// about me css
@import "gradient-mixer.scss";
@import "variables.scss";

#about-me{
  @include linear-gradient(130deg, #339bf3 0%, #623fa1 100%);
  color:$font-white;
  position: relative;
  .center-content{
    width:100%;

    p{
      margin-top:28px;
    }
  }

  #my-name{
    position:relative;
  }

  #word-list-header{
    position:relative;

    #word-list{
      list-style:none;
      margin:0;
      padding:0;
    }
  }
  .profile-picture{
    width:30%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom;
    height:$full-browser-height;
    max-width:484px;
    display:block;
    position:absolute;
    bottom:0;
    left:50%;
    background-image:url($image-path+'tom-klaversma.png')
  }

}
