// about me css
@import "gradient-mixer.scss";
@import "variables.scss";

#about-me{
  @include linear-gradient(130deg, #339bf3 0%, #623fa1 100%);
  color:$font-white;
  height: $full-browser-height;
  position: relative;

  .center-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    max-width:480px;

    p{
      margin-top:28px;
    }
  }

  .profile-picture{
    width:484px;
    height:688px;
    display:block;
    position:absolute;
    bottom:0;
    right:20px;
    background-image:url($image-path+'tom-klaversma.png')
  }

}
