
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// variables
@import "fonts.scss";
@import "variables.scss";


// main css
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  // set main size for font
  font-family: 'Raleway';
  font-size:18px;
}

h1, h2, h3, h4, h5{
    font-weight:700;
}

h1{
  font-size:$font-size-extra-big;
  line-height: 1em;
}

h2{
  font-size:$font-size-big;
}

p{
  line-height:1.4em;
}


span.animation{
  position:absolute;
}

#clipping-mask{
  width:100%;
  overflow:hidden;
}

.rotated-slide{
  z-index:10;
  transform:rotate(-2deg);
  margin:-40px;
  background-color:#fff;
}

.rotated-slide .container{
  @media screen and (max-width: $screen-sm) {
    padding:0px 50px;
  }
}
.rotated-slide .rotate-back{
  transform:rotate(2deg);
}

.center-content{
  z-index:10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full-browser-height{
    min-height: $full-browser-height;
}


// pages
@import "about-me.scss";
@import "my-work.scss";
@import "my-experience.scss";
@import "contact-me.scss";
