@import "gradient-mixer.scss";
@import "variables.scss";

#my-work{
  user-select:none;
  position:relative;
  height:80vh;

  .center-content{
    width:100%;
    // counteract the margin-top of #slideshow
    margin-top:6vh;

    h2{
      z-index: 2;
    }

    #slideshow{
      z-index: 1;
      width:100%;
      display:block;
      position:relative;
      margin-top:-6vh;

      #items{
        display:block;
        position: relative;
        transform:skew(0deg, -2deg);
        overflow: hidden;
        height:60vh;

        .item{
            width:45%;
            height:60vh;
            background-color:#efefef;
            position:absolute;
            bottom:0;
            cursor:pointer;

            .preview{
                transform:skewY(2deg);
                width:50%;
                height:50%;
                position:absolute;
                top:20%;
                left:25%;
                background-image:url(../images/test.png);
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;
            }

            .lint{
                background-color:#fff;
                transform:skewY(-2deg);
                width:70%;
                position:absolute;
                bottom:10%;
                padding:20px;
                left:-20px;
                box-shadow:15px 15px 20px rgba(0,0,0,0.15);
            }

            .lint:before{
              background-color:red;
              width:10px;
              height:100px;
              left:-20px;
              position:absolute;
              transform: skewY(4deg);
            }
        }
      }

      .slideshow-button{
        z-index:2;
        width:50px;
        height:50px;
        position:absolute;
        top:65%;
        transform: translate(-50%, -50%);
        display:block;
        border-radius:50%;
        background-color:$white;

        transition:$button-transition;

        .preview{
            border-radius:2px;
            background-color:#efefef;
            margin:auto;
            display: block;
            margin-top:16px;
            transform:rotate(45deg);
            width:20px;
            height:20px;
            transition:$button-transition;
        }

        &:hover{
          cursor:pointer;
          width:60px;
          height:60px;
          box-shadow: 5px 5px 20px rgba(0,0,0, 0.1);
          .preview{
            transform:rotate(0deg);
            width:30px;
            height:30px;
          }
        }
      }

      #forward-button{
        transform: translate(50%, -50%);
        right:0;
        .preview{
          transform:rotate(-45deg);
        }
        &:hover{
          .preview{
            transform:rotate(0deg);
          }
        }
      }

    }
  }
}
