#my-work{
  position:relative;
  height:80vh;

  .center-content{
    width:100%;

    #slideshow{
      overflow:hidden;
      width:100%;
      display:block;
      height:60vh;

      position:relative;

      transform:skew(0deg, -2deg);
      margin-top:-10vh;

      .item{
          height:60vh;
          width:60%;

          background-color:#efefef;

          position:absolute;
          bottom:0;
      }
    }
  }
}
